<section class="csdc-section" style="margin-bottom:3rem;">
  <div class="csdc-container csdc-stats">
    <div>
      <div class="csdc-stat-number">XX+</div>
      <div>Lorem ipsum dolor sit amet</div>
    </div>
    <div>
      <div class="csdc-stat-number">YY</div>
      <div>Consectetur adipiscing elit</div>
    </div>
    <div>
      <div class="csdc-stat-number">ZZ+</div>
      <div>Sed do eiusmod tempor</div>
    </div>
    <div>
      <div class="csdc-stat-number">WW+</div>
      <div>Incididunt ut labore</div>
    </div>
  </div>
</section>