<div class="csdc-footer">
    <div class="csdc-container">
        <div class="csdc-footer-grid">
            <div>
                <h4>McGill CSDC</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="mailto:anne.imouza@mail.mcgill.ca">Contact us</a></p>
            </div>
            <div>
                <h4>Quick Links</h4>
                <p><a href="{{ '/about/' | relative_url }}">About</a></p>
                <p><a href="{{ '/news/' | relative_url }}">News and Events</a></p>
                <p><a href="{{ '/people/' | relative_url }}">People</a></p>
            </div>
            <div>
                <h4>Contribute</h4>
                <p><a href="https://github.com/ekmpa/csdc-mcgill/issues/new/choose">Add or update member profile</a></p>
                <p><a href="https://github.com/ekmpa/csdc-mcgill/issues/new/choose">Add or update publication</a></p>
                <p><a href="https://github.com/ekmpa/csdc-mcgill/issues/new?template=add-news-update.yml">Add news update</a></p>
            </div>
            <div>
                <h4>National CSDC</h4>
                <p><a href="https://csdc-cecd.ca/" rel="nofollow noopener noreferrer">Centre for the Study of Democratic Citizenship (National)</a></p>
            </div>
        </div>

        <div class="csdc-footer-copy">&copy; {{ site.time | date: '%Y' }} {{ site.copyright | default: site.title }}.</div>
    </div>
</div>