{% assign posts = site.categories[include.taxonomy] | where_exp: "item", "item.hidden != true" %}
{% if include.author %}
{% assign posts = posts | where_exp: "post", "post.names contains include.author" %}
{% endif %}

{% if include.disable_group_by_year == true %}
<div class="entries-{{ entries_layout | default: 'list' }}">
  {% for post in posts %}
  {%- include display-publications.html %}
  {% endfor %}
</div>
{% else %}
{% assign postsByYear = posts | group_by_exp: 'post', 'post.date | default: "9999-01-01" | date: "%Y"' %}

{% if postsByYear.size > 0 %}
{% assign sortedYears = postsByYear | sort: 'name' | reverse %}
{% for year in sortedYears %}
{% if year.name == "9999" %}
{% assign yearName = "None" %}
{% else %}
{% assign yearName = year.name %}
{% endif %}

<section id="{{ yearName | slugify }}" class="taxonomy__section">
  <h3 class="archive__subtitle">{{ yearName }} ({{ year.items | size }})</h3>
  <div class="entries-{{ entries_layout | default: 'list' }}">
    {% assign yearItems = year.items | sort: 'date' | reverse %}
    {% for post in yearItems %}
    {%- include display-publications.html %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>
{% endfor %}
{% endif %}
{% endif %}