# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.
# Unless a later match takes precedence, global owners will be 
# requested for review when someone opens a pull request.


# Global owners
* @RSTZZZ

# Jekyll (Webpage)
/_sass/ @RSTZZZ
/_layouts/ @RSTZZZ
/_includes/ @RSTZZZ
/_data/ @RSTZZZ
/assets/ @RSTZZZ
/_config.yml @RSTZZZ
/favicon.ico @RSTZZZ
/Gemfile @RSTZZZ

# Python scripts
/src/python/ @RSTZZZ

# Unit Tests
/tests/ @RSTZZZ

# GitHub issue templates (Automation)
/.github/ISSUE_TEMPLATE/ @RSTZZZ

# GitHub Actions (Automation)
/.github/workflows/ @RSTZZZ

# Authors
_data/authors.yml @RSTZZZ

# Pages
/_pages/ @RSTZZZ

# Profiles
# /_pages/profiles/siva.md @sivareddyg

# Other directories without codeowners
/records/